/*contact*/
.contact .contact-info-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    font-weight: 600;
    max-width: 33.33%;
    text-align: center;
    margin-bottom: 40px;
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
    font-weight: 400;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 40px;
    /*color: #ec1839 !important;*/

}

/*form*/
.contact .div .contact-from {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .div .contact-from .new .col-6 {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
}

.contact .div .contact-from .new .col-12 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
}

.contact .div .contact-from .new .form-item .form-group .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #d4d4e3;
    padding: 10px 25px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #504e70;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.contact .div .contact-from .new .form-item .form-group .form-control:focus {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

textarea {
    height: 140px;
}

.contact .div .contact-from .new .form-item {
    margin-bottom: 30px;

}