/*home*/
.home {
    min-height: 100vh;
    display: flex;
    display: -ms-flexbox;
}

.home .intro {
    text-align: center;
}

.home .intro img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #fff;
}

.home .intro h1 {
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik',
        sans-serif;
    font-weight: 700;
    margin: 20px 0 6px;
}

.home .intro p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: #504e70;
}

.home .intro .social-icon {
    margin-top: 25px;
}

.home .intro .social-icon a {
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}



.home .intro .social-icon a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.hidden {
    display: none;
}

/**/
/*about section*/
.section,
.main-container {
    overflow: hidden;
}

.row {

    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;


}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.section-title h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik',
        sans-serif;
    font-weight: 700;

    position: relative;


}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 8px;
}