/*responsive*/
@media(max-width: 1199px) {
    .aside {
        left: -270px;
    }

    .main-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: inline-block;
        margin-left: 0;
    }
}

@media(max-width: 991px) {

    .portfolio .portfolio-item,
    .service .service-item,
    .blog .blog-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 767px) {

    .about .about-content .personal-info,
    .about .about-content .skill,
    .about .about-content .education,
    .about .about-content .experience,
    .service .service-item,
    .blog .blog-item,
    .contact .div .contact-from .new .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;

    }

    .portfolio .portfolio-filter .buttons {
        margin-bottom: 10px;
    }
}

@media(max-width: 575px) {

    .portfolio .portfolio-item,
    .contact .contact-info-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/**/