/**/
.service .service-item {

    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.service .service-item-inner {
    background-color: #fdf9ff;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.service .service-item .service-item-inner:hover {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    cursor: pointer;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon .fa {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.service .service-item .service-item-inner:hover .icon {
    cursor: pointer;
}

.service .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #303e4d;
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item-inner p {
    font-size: 16px;
    color: #504e70;
    line-height: 25px;
    margin: 0;
}