@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik:wght@500&display=swap');

/*General style*/
body {
    margin: 0;
    line-height: 1.5;
    font-family: 'Montserrat',
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

.section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    /*background-color: gray;*/
    max-width: 100%;
    margin-bottom: 60px;
}

.main-content {
    padding-left: 270px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}