.aside .logo a::before {
    border-top: 4px solid #ffb400;
    border-left: 4px solid #ffb400;
}

.aside .logo a::after {
    border-bottom: 4px solid #ffb400;
    border-right: 4px solid #ffb400;
}

.portfolio .portfolio-filter button.active {
    border-color: #ffb400;
}

.aside .nav li a:not(.active):hover {
    color: #ffb400 !important;
}

.aside .nav-toggoler span,
.aside .nav-toggoler span::before,
.aside .nav-toggoler span::after,
.home .intro .social-icon a,
.section-title h2::before,
.section-title h2::after,
.btn,
.about .about-content .skill .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.service .service-item .service-item-inner:hover .icon,
.blog .blog-item-inner .blog-img .blog-date {
    background-color: #ffb400;
}


.aside .nav li .active,
.about .about-content .about-text h3 span,
.service .service-item .service-item-inner .icon,
.portfolio .portfolio-filter button.active,
.portfolio .portfolio-item .portfolio-info .fa,
.blog .blog-item-inner .blog-info .blog-tag a,
.contact .contact-info-item .icon .fa {
    color: #ffb400;
}